* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 125px;
}
/*---------------------------Navbar------------------------*/
.navbar {
  background-color: rgb(53, 58, 64);
  height: 115px;

  .navbar__custom {
    background-color: rgb(53, 58, 64);

    .navbar-brand {
      padding-left: 8rem;
      font-size: 1.75rem;
      font-weight: 400;
    }
  }
  .navbar__links {
    flex-direction: row-reverse;

    .navbar-nav {
      padding-right: 8.75rem;
      font-size: 1.45rem;
      font-style: bold;

      & li {
        margin-right: 0.7rem;
      }
    }
  }
}

/*---------------------------Home----------------------------*/
.banner__content {
  color: white;
  padding-right: 10rem;
  position: absolute;
  width: 100%;
  top: 400px;
  z-index: 1;

  & h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
  }

  & p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
  }

  .button__container {
    display: flex;
    justify-content: end;
    gap: 2rem;
  
    .btn {
      height: 57px;
      width: 227px;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}

.carousel-inner {
  top: 0;
  filter: brightness(0.5);
  height: 100vh;
  overflow: hidden;
  object-position: center;
}

/*---------------------------Oradores-------------------------------*/

.oradores__container {
  margin-bottom: 3rem;

  .card__group {
    display: flex;
    gap: 2rem;
    justify-content: center;

    .card {
      border-radius: 5px;
      height: 650px;
      max-width: 425px;
      padding: 0;
  
      & img {
        object-fit: cover;
        width: 423px;
        height: 412px;
        overflow: hidden;
      }
    }
  }
}


/*---------------------------Lugar-------------------------------*/

.lugar__container {
  display: flex;
  flex-flow: row nowrap;

  & img {
   width: 50vw;
  }

  .lugar__texto {
    padding: 2.5rem 1rem 0 1.5rem;
    color: white;
    background-color: rgb(53, 58, 64);
  
    & h2 {
      font-size: 2.5rem;
      font-weight: 500;
    }
  
    & p {
      font-size: 1.1rem;
      line-height: 2rem;
    }
  }
}



/*---------------------------Formulario-------------------------------*/

.contact__container {
  display: flex;
  flex-direction: column;

  & p {
    margin-bottom: 0;

    & span {
      border-bottom: dotted;
    }
  }
  
  .formulario__contacto {
    margin: 1rem 30rem;
    
    .btn {
      background-color: rgb(150, 201, 62);
      color: white;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}


/*---------------------------Footer-------------------------------*/

.footer__container {
  padding-top: 2rem;
  min-height: 7.5rem;
  background-image: linear-gradient(
    to right,
    rgb(28, 54, 67),
    rgb(30, 83, 114)
  );

  & ul {
    margin: 0 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    & li {
      width: 6rem;
      & a {
        color: white;
        text-decoration: none;
        font-size: 1.25rem;
      }
    }
  }
}
